{% extends 'warehouse/base.html' %}{% block title %} View Individual Comapny Stock {% endblock %}

{% block content %}

<div class="col-md-7 mx-auto">
    <br>
    <table class="table table-hover table-sm table-bordered" border= 2 id="table">
        <thead>
            <tr>
                <th> Product ID </th>
                <th> Stock Type </th>
                <th> Quantity </th>
                <th>  </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody class = "table-group-divider">
            {% for stock in results %}
                <tr>
                    <td><br> {{stock.productId}} </td>
                    <td><br> {{stock.stockType}} </td>
                    <td><br> {{stock.quantity}} </td>
                    <td><br></td>
                    <td><br></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
      $('#table').dataTable();
  });
</script>

{% endblock %}