{% extends 'warehouse/base.html' %}{% block title %} Unload Container Service {% endblock %}

{% block content %}

<form action = '/unloadContainer' method = 'POST'>
    {% csrf_token %}
    <div class="col-md-7 mx-auto">
        <br>
        <input class="form-control"  type="number" name="label" placeholder="Container Quantity" >
        <br>
        <input class="form-control"  type="number" name="label" placeholder="SKU Quantity" >
        <input class = 'form-control' type = 'hidden' value="{{ id }}" name = 'id' />
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>

{% endblock %}